.lesson-header {
  padding: 16px;
}

.lesson-header h2 {
  margin: 0;
  font-weight: 700;
}

.lesson-header p {
  margin-top: 4px;
  color: var(--ion-color-medium);
}

.lesson-content {
  padding: 16px;
}

.lesson-content ul {
  padding-left: 18px;
}

.lesson-content li {
  margin-bottom: 8px;
  line-height: 1.5;
}

.placeholder {
  padding: 24px;
  text-align: center;
  color: var(--ion-color-medium);
}
.text-content {
  text-align: justify;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  color: var(--ion-color-dark);
}
.title-text-content {
  text-align: justify;
  font-size: 21px;
  line-height: 1.6;
  font-weight: 500;
  color: black
}
.halimbawa-content {
  margin-top: 16px;
  padding: 12px;
  background-color: var(--ion-color-light);
  border-left: 4px solid var(--ion-color-primary);
}