@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* Filipino Palette */
  --fil-blue: #0038a8;
  --fil-red: #ce1126;
  --fil-yellow: #fcd116;

  /* LIGHT MODE BASE */
  --ion-background-color: #e4ebd8ec;
  --ion-text-color: #1f1f1f;

  --ion-card-background: #ffffff;
  --ion-item-background: #ffffff;

  --ion-border-color: #000000;

  --ion-color-primary: var(--fil-blue);
  --ion-color-primary-contrast: #ffffff;

  --ion-color-secondary: var(--fil-red);
  --ion-color-tertiary: var(--fil-yellow);

}
ion-toolbar {
  --background: #ce1126;
  --color: #ffffff;
  --border-color: #2e66a7;
}
*{  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}