.quarter-header {
  padding: 16px;
}

.quarter-header h2 {
  margin: 0;
  font-weight: 700;
}

.quarter-header p {
  margin-top: 4px;
  color: var(--ion-color-medium);
}

.aralin-description {
  font-size: 0.95rem;
  color: var(--ion-color-dark);
}

.aralin-description {
  font-size: 0.95rem;
  margin-bottom: 12px;
}

.aralin-progress {
  margin-top: 10px;
}

.progress-label {
  display: flex; 
  /* justify-content: space-evenly; */
  position: relative;
  font-size: 0.85rem;
  color: var(--ion-color-medium);
  margin-bottom: 4px;
}

.progress-label strong {
  color: var(--ion-color-light);
}
.progress-label p {
  position: absolute;
  left: 9%;
  color: var(--ion-color-medium);
}

