.quarter-header {
  padding: 16px;
}

.quarter-header h2 {
  margin: 0;
  font-weight: 700;
}

.quarter-header p {
  margin-top: 4px;
  color: var(--ion-color-primary);
}

.aralin-description {
  font-size: 0.95rem;
  color: var(--ion-color-dark);
}

.aralin-progress {
  margin-top: 10px;
  color: rgb(161, 58, 58);
}

.progress-label {
  display: flex; 
  /* justify-content: space-evenly; */
  position: relative;
  font-size: 0.85rem;
  color: var(--ion-color-medium);
  margin-bottom: 4px;
}

.progress-label strong {
  color: black;
}
.progress-label p {
  position: absolute;
  left: 9%;
  color:black;
}

.aralin-card {
  margin: 12px 16px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.02),
    rgba(184, 176, 176, 0.01)
  );
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.6);

}

.aralin-card:hover {
  transform: translateY(-2px);
  background-color: white;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.6);
}
